{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/myFollow.css' %}" />
{% endblock %}

<main class="main container">
    <div class="main__header">
        <h1 class="main__title">{{ title }}</h1>
    </div>
    
    <div class="card-list">
        {% for author, recipes, recipes_counter in page %}
        <div class="card-user" data-author="{{ author }}">
        <div class="card-user__header">
            <h2 class="card-user__title">{{author}}</h2>
        </div>
        <div class="card-user__body">
            <ul class="card-user__items">
                {% for recipe in recipes %}
                <li class="card-user__item">
                    <div class="recipe">
                        <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" class="recipe__image">
                        <h3 class="recipe__title">{{ recipe.title }}</h3>
                        <p class="recipe__text"><span class="icon-time"></span> {{ recipe.cooking_time }} </p>
                    </div>
                </li>
                {% endfor %}
                
                <li class="card-user__item">
                    <a href="{% url 'user_recipes' author.username %}" class="card-user__link link">{{ recipes_counter }}</a>
                </li>
            </ul>
        </div>
        <div class="card-user__footer">
            {% csrf_token %}
            <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
        </div>
        </div>
        {% endfor %}
        
    </div>
    
</main>

{% if page.has_other_pages %}
{% include "include/paginator.html" with items=page paginator=paginator%}
{% endif %}

<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Subscribe.js' %}"></script>
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/MyFollow.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'js/myFollow.js' %}"></script>

{% endblock %}
