{% extends "base.html" %}
{% block title %}Регистрация{% endblock %}
{% block content %}

{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}" />
{% endblock %}

<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Регистрация</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form__group">
                <label for="id_first_name" class="form__label">Имя</label>
                <div class="form__field-group">
                    {{ form.first_name }}
                    {{ form.first_name.errors}}
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label for="id_username" class="form__label">Имя пользователя</label>
                <div class="form__field-group">
                    {{ form.username }}
                    {{ form.username.errors }}
                    </span>
                </div>
            </div>
            <div class="form__group">
                <label for="id_email" class="form__label">Адрес электронной почты</label>
                <div class="form__field-group">
                    {{ form.email }}
                    {{ form.email.errors }}
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label for="id_password" class="form__label">Пароль</label>
                <div class="form__field-group">
                    {{ form.password1 }}
                    {{ form.password1.errors }}
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label for="id_password" class="form__label">Подтверждение пароля</label>
                <div class="form__field-group">
                    {{ form.password2 }}
                    {{ form.password2.errors }}
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__footer">
                <button class="button button_style_blue" type="submit">Создать аккаунт</button>
            </div>
        </form>
    </div>


</main>
{% endblock %}