{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}" />
{% endblock %}

<main class="main container">
    <div class="main__header">
        <h1 class="main__title">{{ title }}</h1>
        <ul class="tags">
            <li class="tags__item">
                <a id="breakfast" class="tags__checkbox tags__checkbox_style_orange tags__checkbox_active" href="#"></a>
                <span class="tags__label">Завтрак</span>
            </li>
            <li class="tags__item">
                <a id="lunch" class="tags__checkbox tags__checkbox_style_green tags__checkbox_active" href="#"></a>
                <span for="lunch" class="tags__label">Обед</span>
            </li>
            <li class="tags__item">
                <a id="dinner" class="tags__checkbox tags__checkbox_style_purple tags__checkbox_active" href="#"></a>
                <label for="dinner" class="tags__label">Ужин</label>
            </li>
        </ul>
    </div>
    {% if "users" in request.path %}
    <div class="author-subscribe" data-author="{{ title }}">
        {% if request.user.is_authenticated %}
        {% csrf_token %}
        <p style="padding: 0 0 2em 0;">
            {% if is_follow %}
            <button class="button button_style_light-blue button_size_subscribe" name="subscribe">Отписаться от автора</button>
            {% else %}
            <button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out>Подписаться на автора</button>
            {% endif %}
        </p>
        {% endif %}
        </div>
    {% endif %}
    <div class="card-list">
    {% for recipe, tags, is_favorites, is_purchase in page %}
    <div class="card" data-id="{{ recipe.pk }}">
        <a href="/recipe/{{ recipe.slug }}" class="link" target="_blank"><img src="{{ recipe.image.url }}" alt="Посмотреть рецепт" class="card__image"></a>
        <div class="card__body">
            <a class="card__title link" href="/recipe/{{ recipe.slug }}" target="_blank">{{ recipe.title }}</a>
            <ul class="card__items">
                {% for tag in tags %}
                    {% if tag.title == "lunch" %}<li class="card__item"><span class="badge badge_style_green">Обед</span></li>{% endif %}
                    {% if tag.title == "breakfast" %}<li class="card__item"><span class="badge badge_style_orange">Завтрак</span></li>{% endif %}
                    {% if tag.title == "dinner" %}<li class="card__item"><span class="badge badge_style_purple">Ужин</span></li>{% endif %}
                {% endfor %}
            </ul>
            <div class="card__items card__items_column">
                <p class="card__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин</p>
                <p class="card__text"><span class="icon-user"></span> <a href="/users/{{ recipe.author.username}}" style="color: black">{{ recipe.author }}</a></p>
            </div>
        </div>
        <div class="card__footer">
            {% if request.user.is_authenticated %}
            {% csrf_token %}
            {% if not is_purchase %}
            <button class="button button_style_light-blue" name="purchases" data-out ><span class="icon-plus button__icon"></span>Добавить в покупки</button>
            {% else %}
            <button class="button button_style_light-blue-outline" name="purchases"><span class="icon-check button__icon"></span>Рецепт добавлен</button>
            {% endif %}
            <button class="button button_style_none" name="favorites" {% if not is_favorites %} data-out {% endif %}><span class="icon-favorite {% if is_favorites %} icon-favorite_active {% endif %}"></span></button>
            {% endif %}
        </div>
        
    </div>
    
    {% endfor %}
    
    </div>
    
</main>


 
    {% if page.has_other_pages %}
            {% include "include/paginator.html" with items=page paginator=paginator%}
    {% endif %}

<script src="{% static 'js/components/MainCards.js' %}"></script> 

<script src="{% static 'js/components/Purchases.js' %}"></script> 
<script src="{% static 'js/components/Favorites.js' %}"></script>
{% if "users" in request.path %}
<script src="{% static 'js/components/Subscribe.js' %}"></script>
{% endif %}

<script src="{% static 'js/config/config.js' %}"></script> 
<script src="{% static 'js/components/CardList.js' %}"></script> 
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/components/AuthorRecipe.js' %}"></script> 

<script src="{% static 'js/api/Api.js' %}"></script> 
{% if "users" in request.path %}
<script src="{% static 'js/authorRecipe.js' %}"></script>
{% else %}
<script src="{% static 'js/indexAuth.js' %}"></script>
{% endif %}

{% endblock %}
  