{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}" />
{% endblock %}

<main class="main container">
    <div class="main__header">
        <h1 class="main__title">{{ title }}</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
            <div class="form__group">
                <label for="id_name" class="form__label">Название рецепта</label>
                <div class="form__field-group">
                    <input type="text" id="id_name" name="title" class="form__input" value="{{ form.title.value }}">
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <p class="form__label">Теги</p>
                <div class="form__field-group">
                    <div class="tags">
                        <div class="tags__item">
                            <input type="checkbox" name="breakfast" id="id_breakfast" class="tags__checkbox tags__checkbox_style_orange" {% if tags.0.pk == 1 %}checked{% endif %}>
                            <label for="id_breakfast" class="tags__label">Завтрак</label>
                        </div>
                        <div class="tags__item">
                            <input type="checkbox" name="lunch" id="id_lunch" class="tags__checkbox tags__checkbox_style_green" {% if tags.1.pk == 2 or tags.0.pk == 2%}checked{% endif %}>
                            <label for="id_lunch" class="tags__label">Обед</label>
                        </div>
                        <div class="tags__item">
                            <input type="checkbox" name="dinner" id="id_dinner" class="tags__checkbox tags__checkbox_style_purple" {% if tags.0.pk == 3 or tags.1.pk == 3 or tags.2.pk == 3 %}checked{% endif %}>
                            <label for="id_dinner" class="tags__label">Ужин</label>
                        </div>
                    </div>
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label for="nameIngredient" class="form__label">Ингредиенты</label>
                <div class="form__field-group">
                    <div class="form__field-group-ingredientes">
                        <div class="form__dropdown">
                            <input type="text" id="nameIngredient" class="form__input">
                            <div class="form__dropdown-items"></div>
                        </div>
                        <input type="number" id="cantidad" class="form__input" min="0">
                        <label for="cantidad" class="form__label" id="cantidadVal">шт.</label>
                    </div>
                    <div class="form__field-group-ingredientes-container">
                        {% for item, volume, ing_id, ing_name_id in ing_vol %}
                            <div class="form__field-item-ingredient" id="{{ing_id}}">
                                <span>{{ item }} {{ volume|floatformat }} {{ item.unit }}</span>
                                <span class="form__field-item-delete"></span>
                                <input id="name{{ ing_name_id }}" name="name{{ ing_name_id }}" type="hidden" value="{{ item }}">
                                <input id="value{{ ing_name_id }}" name="value{{ ing_name_id }}" type="hidden" value="{{ volume|floatformat }}">
                                <input id="units{{ ing_name_id }}" name="units{{ ing_name_id }}" type="hidden" value="{{ item.unit }}">
                            </div>
                        {% endfor %}
                    </div>
                    <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
                    <span class="form__error"></span>
                    
                </div>
            </div>
            <div class="form__group">
                <label for="id_time" class="form__label">Время приготовления</label>
                <div class="form__field-group form__field-group_time">
                    <input type="text" id="id_time" name="cooking_time" class="form__input" value="{{ form.cooking_time.value }}">
                    <label for="id_time" class="form__label">минут</label>
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label for="id_description" class="form__label">Описание</label>
                <div class="form__field-group">
                    <textarea name="description" id="id_description" rows="8" class="form__textarea">{{ form.description.value }}</textarea>
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <span class="form__label">Загрузить фото</span>
                <div class="form__field-group">
                    {{ form.image }}
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__footer">
                {% if title == "Новый рецепт"%}
                <button class="button button_style_blue">Создать рецепт</button>
                {% else %}
                <button class="button button_style_blue">Сохранить</button> <a style="margin-left: 2.5em" href="/recipe-delete/{{ recipe.slug }}" class="form__ingredient-link">Удалить</a>
                {% endif %}
            </div>
        </form>
    </div>


</main>

<script src="{% static 'js/config/config.js' %}"></script> 
<script src="{% static 'js/components/Header.js' %}"></script> 
<script src="{% static 'js/utils/debouncing.js' %}"></script> 
<script src="{% static 'js/api/Api.js' %}"></script> 
<script src="{% static 'js/formRecipe.js' %}"></script> 

{% endblock%}
